<div class="example-container mat-elevation-z8">
    <h3>{{nickname}} <button mat-flat-button (click)="logout()"><mat-icon>logout</mat-icon></button></h3>
    <h2>Room List</h2>
    <div class="spinner-container" *ngIf="isLoadingResults | async">
      <mat-spinner></mat-spinner>
    </div>
    <div class="button-row">
      <button mat-flat-button color="primary" [routerLink]="['/addroom', nickname]"><mat-icon>add</mat-icon></button>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="rooms" class="example-table"
             matSort matSortActive="roomname" matSortDisableClear matSortDirection="asc">
  
        <!-- Room Name Column -->
        <ng-container matColumnDef="roomname">
          <mat-header-cell *matHeaderCellDef>Room Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row}}</mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="enterChatRoom(row)"></mat-row>
      </mat-table>
    </div>
  </div>